@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body section i {
  font-size: 50px;
  margin-left: 30px;
  padding: 20px;
  color: #532062;
}

body section i:hover {
  color: #ffffff;
  background-color: #6e6e6e;
  border-radius: 50%;
  -webkit-transition: 900ms;
  transition: 900ms;
}

.imagenGaleria {
  width: 100%;
  height: 100%;
  max-height: 250px;
  max-width: 450px;
  padding: 5px;
}

.gridPadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "imagenUno imagenDos ImagenTres" " imagenCuatro imagenCinco imagenSeis";
}

.imagenUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imagenUno;
}

.imagenDos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagenDos;
}

.ImagenTres {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ImagenTres;
}

.imagenCuatro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagenCuatro;
}

.imagenCinco {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagenCinco;
}

.imagenSeis {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: imagenSeis;
}

@media only screen and (max-width: 599px) {
  /* vista celu */
  .gridPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "imagenUno" "imagenDos"  "ImagenTres" " imagenCuatro"  "imagenCinco"  "imagenSeis";
  }
  .imagenUno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imagenUno;
  }
  .imagenDos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imagenDos;
  }
  .ImagenTres {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ImagenTres;
  }
  .imagenCuatro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: imagenCuatro;
  }
  .imagenCinco {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: imagenCinco;
  }
  .imagenSeis {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: imagenSeis;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  /* vista tablet */
  .gridPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "imagenUno imagenDos"  "ImagenTres imagenCuatro"  "imagenCinco imagenSeis";
  }
  .imagenUno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imagenUno;
  }
  .imagenDos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imagenDos;
  }
  .ImagenTres {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: ImagenTres;
  }
  .imagenCuatro {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: imagenCuatro;
  }
  .imagenCinco {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: imagenCinco;
  }
  .imagenSeis {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: imagenSeis;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body header {
  background-color: #6e6e6e;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#350f30), to(#6e6e6e));
  background: linear-gradient(to left, #350f30, #6e6e6e);
}

body header #btn-menu {
  display: none;
}

body header label {
  display: none;
  font-size: 20px;
  margin-right: 15px;
  padding: 10px;
  color: #f199e6;
  border: solid 2px white;
}

body header label:hover {
  cursor: pointer;
  background-color: #525252;
  -webkit-transition: 800ms;
  transition: 800ms;
}

body header .botonera {
  margin-right: 40px;
}

body header .botonera ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .botonera ul li {
  margin-left: 20px;
  border-left: solid 2px white;
  list-style: none;
}

body header .botonera ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #f199e6;
  font-size: 18px;
  margin: 5px;
}

body header .botonera li:hover {
  background-color: #525252;
  -webkit-transition: 800ms;
  transition: 800ms;
}

body header .botonera li:hover a {
  color: white;
  -webkit-transition: 800ms;
  transition: 800ms;
}

body header .logo {
  margin-left: 20px;
  border: solid white;
  width: 25%;
  min-height: 90px;
  min-width: 90px;
}

body .carousel {
  max-width: 1200px;
  margin: auto;
}

body .contenedor {
  text-align: center;
  margin: 50px;
  padding: 30px;
  border: solid 1px #8f8e8e;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px #8f8f8f;
          box-shadow: 2px 2px #8f8f8f;
}

body .contenedor h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

body .contenedor p {
  font-size: 20px;
  margin-bottom: 15px;
}

body .contPromo {
  height: 60vh;
}

body footer ul {
  background-color: #6e6e6e;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer i {
  margin-left: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

body footer i:hover {
  background-color: #868686;
  border-radius: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

@media (max-width: 992px) {
  body header label {
    display: block;
    position: end;
  }
  body header .botonera {
    position: absolute;
    z-index: 6;
    background: -webkit-gradient(linear, right bottom, left top, from(#350f30), to(#6e6e6e));
    background: linear-gradient(to top left, #350f30, #6e6e6e);
    width: 40%;
    margin-top: 415px;
    margin-left: -60%;
  }
  body header .botonera ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  body header .botonera ul li {
    display: block;
    padding: 10px;
    margin: 5px;
    border-left: none;
    border-top: solid 2px white;
  }
  body header #btn-menu:checked ~ .botonera {
    margin-left: 0;
  }
}
/*# sourceMappingURL=estilo.css.map */