@import "maps";
@import "galeria";
@import "extend";
@import "mixin";

body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    header {
        background-color: rgb(110, 110, 110);
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: fixed; */
        
        
        .botonera{
            margin-right: 40px;
        ul{
            li{
            display: inline;
            margin-left: 20px;
              a{
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: rgb(241, 153, 230);
                font-size: 17px;
                border: solid 2px white;
                border-radius: 30px;
                padding: 15px;
                    
                }  
              
            }
        }
        a:hover{
            background-color: rgb(149, 149, 149);
            transition: 800ms;
        }
    }
    
    .logo{
            margin-left: 20px;
            border: solid white;
            width: 25%;
            
        }  
    }
}

// footer{
//         background-color: rgb(110, 110, 110);
//         width: 100%;
//         height: 60px;
//         display: flex;
//         padding: 20px;
//         font-size: 20px;
//         padding: 15px;
//         font-weight: bold;
//         justify-content:flex-end;
        
//     i{
//             margin-left: 10px;
//             font-size: 30px;
//         }
// }

